# Load and parse data

In [33]:
import os
import pandas as pd
import json

In [34]:
files = os.listdir('results')
files = ['results/' + f for f in files if '.json' in f]

In [35]:
res

{'name': 'Zachary',
 'registered': 1,
 'expiry': '2025.05.04 at 07:06 (UTC+02:00)',
 'registrant': '0xbb46bE602D82F3209B6392130B5BBd40D78df339'}

In [36]:
results = []
for file in files:
    with open(file) as f:
        res = json.load(f)

        expiry = res['expiry'].split(" (")[0].replace('.','/').replace(" at","")
        
        parsed = {}
        parsed['name'] = res['name']
        parsed['registered'] = res['registered']
        parsed['registrant'] = res['registrant']
        parsed['expiry'] = expiry
        
        results.append(parsed)

In [37]:
df = pd.DataFrame(results)
df['expiry'] = pd.to_datetime(df['expiry'])
df.head()

,name,registered,registrant,expiry
0,Cohen,1,0x5952B320f1089162590F5D75ae7AC1A0f0fF55E9,2020-10-14 13:28:00
1,Nash,1,0x54b0c1d012366e5A82B06Ff31078B7D22927548C,2020-10-23 02:11:00
2,David,1,0x825cED62D73DC9D40F2fE3ea60fEd36A7a54EAE6,2021-10-14 13:25:00
3,Ibrahim,1,0x3138f8a28b9fCf28c55Cfef5a129a82240C05636,2021-08-30 02:56:00
4,Shawn,1,0x000000Aaee6A496aaf7b7452518781786313400f,2020-10-19 17:50:00

In [38]:
df.sort_values('expiry', ascending=True, inplace=True)

# find unregistered names

In [39]:
df[df['registrant'] == '']

            name  registered registrant expiry
37       Jayceon           0               NaT
43        Kayson           0               NaT
59          Gael           0               NaT
62         Kyler           0               NaT
66          Arlo           0               NaT
84           Eli           0               NaT
91           Ari           0               NaT
97        Paxton           0               NaT
100         Finn           0               NaT
125       Jaylen           0               NaT
129         Luca           0               NaT
133        Kason           0               NaT
144     Nehemiah           0               NaT
167         Jett           0               NaT
168         Milo           0               NaT
170         Colt           0               NaT
171         Jace           0               NaT
175       Karson           0               NaT
186       Daxton           0               NaT
187     Dominick           0               NaT
200    Johnathan           0               NaT
206         Iker           0               NaT
208  Maximiliano           0               NaT
227         Gage           0               NaT
229         Beau           0               NaT
230      Malakai           0               NaT
265          Jax           0               NaT
273       Jaxton           0               NaT
299         Zayn           0               NaT
320       Karter           0               NaT
340       Jaiden           0               NaT
345        Zayne           0               NaT
362     Brantley           0               NaT
380         Kane           0               NaT
388        Josue           0               NaT

# find domains expiring soon

In [30]:
df.head(20)

,name,registered,registrant,expiry
16,Tyler,1,0x909969fB07D0B5683bF7d6EB93928Bd8116Eee00,2020-09-28 07:23:00
7,Mateo,1,0xAd11b98Cb4DA457be6aa324f0C4beC9f791fB3CE,2020-09-28 21:07:00
31,Hunter,1,0xEf1Fe2b0B58FdC7334Cb70B6D50260c5510cd8C9,2020-10-08 06:53:00
83,Chase,1,0x449Ab4437c8a41FAD0a91885A5905Fd36F408A0A,2020-10-08 06:56:00
11,Elias,1,0x63656862f0a71B0f84F10EFE5a9880DbB7acF91C,2020-10-08 07:01:00
39,Kevin,1,0x6De8F1204616773Af4193d3BDBaDA325E9bF9679,2020-10-08 07:02:00
110,Austin,1,0xE2FaA63f2351c6F2b88659f2fFfC2167172D329a,2020-10-08 07:02:00
114,Weston,1,0xBAc4c618382E93358E1973E5F447da2481c0E278,2020-10-08 07:12:00
77,Landon,1,0x34cd8a21E92b0Abd558Ff02D6cc7a9e12DAf0ff1,2020-10-14 09:57:00
67,Carson,1,0x93D46185C77f348B3F11bAc55bfeacF61163B3e5,2020-10-14 11:09:00
104,Isaac,1,0x08D816526BdC9d077DD685Bd9FA49F58A5Ab8e48,2020-10-14 14:47:00
112,Gavin,1,0x00dF2b2B13Fe76Ecf406d61700195A81b16EfAD4,2020-10-15 02:58:00
88,Micah,1,0x34E2cB7513A50b19f450a067ed5230A86c13A2E9,2020-10-15 19:53:00
4,Connor,1,0x00Bec19a4149eC55AB8582Ac7914b5a928A6e8F8,2020-10-16 10:54:00
42,Josiah,1,0x6775e49108cb77cda06Fc3BEF51bcD497602aD88,2020-10-16 11:56:00
49,Damian,1,0x358B532B553aA29EB0295AD72Fa2C1fF528C8c82,2020-10-16 15:51:00
12,Aiden,1,0x34cd8a21E92b0Abd558Ff02D6cc7a9e12DAf0ff1,2020-10-16 18:49:00
1,Lucas,1,0x28F38476Af61B3d0FFD0d46bc2fb569d5edfA3BB,2020-10-17 01:27:00
41,Jason,1,0x59e3feFAD4c680BF7EF5369347D062341E677A96,2020-10-17 01:29:00
40,Logan,1,0xf5c7e6e87fd7C8818bAE1730f2a6fe68fAd56cbd,2020-10-17 10:01:00

# find names registered by the same registrant

In [40]:
df['registrant'].value_counts()

                                              35
0xDDd3964D75D59B6B6d5c31eB313BBA5EBF076364    28
0xbb46bE602D82F3209B6392130B5BBd40D78df339    19
0x56609a8e0601B9aFAbC90923bF20DF0523993cA6    18
0x34cd8a21E92b0Abd558Ff02D6cc7a9e12DAf0ff1    14
                                              ..
0x823E0F5338061900BA7347E0aA1367BeD70Cf9F1     1
0xC2FF8d84dAD3C9A096D7275e69b43535eDeCCD2C     1
0x0Cff00d292Ea3FB874f321aCBD6BA219fAe66594     1
0x904698Ee622Da400aa3DfFA33bB5230Bd3B8b9DC     1
0x9023Ef16968FFea318838A223ef2A79bd9f99F88     1
Name: registrant, Length: 197, dtype: int64