# Load and parse data

In [50]:
import os
import pandas as pd
import json

In [51]:
files = os.listdir('results')
files = ['results/' + f for f in files if '.json' in f]

In [52]:
results = []
for file in files:
    with open(file) as f:
        res = json.load(f)

        expiry = res['expiry'].split(" (")[0].replace('.','/').replace(" at","")
        
        parsed = {}
        parsed['name'] = res['name']
        parsed['registered'] = res['registered']
        parsed['registrant'] = res['registrant']
        parsed['expiry'] = expiry
        
        results.append(parsed)

In [53]:
df = pd.DataFrame(results)
df['expiry'] = pd.to_datetime(df['expiry'])
df.head()

,name,registered,registrant,expiry
0,Daleyza,0,,NaT
1,Cohen,1,0x5952B320f1089162590F5D75ae7AC1A0f0fF55E9,2020-10-14 13:28:00
2,Isabelle,1,0x31cA2fb50F36C8AB18dA0978A8c8825353a15dc2,2021-05-04 07:49:00
3,Hazel,1,0xE2FaA63f2351c6F2b88659f2fFfC2167172D329a,2020-10-15 06:18:00
4,Emmalyn,0,,NaT

In [54]:
df.sort_values('expiry', ascending=True, inplace=True)

# find unregistered names

In [55]:
df[df['registrant'] == '']

         name  registered registrant expiry
0     Daleyza           0               NaT
4     Emmalyn           0               NaT
12    Kaliyah           0               NaT
17     Aubrie           0               NaT
24     Karlee           0               NaT
...       ...         ...        ...    ...
1903     Nina           0               NaT
1904   Konnor           0               NaT
1905  Adaline           0               NaT
1913  Greysen           0               NaT
1915  Ariella           0               NaT

[613 rows x 4 columns]

# find domains expiring soon

In [56]:
df.head(20)

,name,registered,registrant,expiry
1440,Raiden,1,0x773c249cC8Dd02fCe180FF066823312E448c6413,2020-08-25 13:13:00
1636,Ariadne,1,0x47bc38e3b42A4657a0344D0D31fC7a71A32aB95a,2020-09-06 05:17:00
210,Tyler,1,0x909969fB07D0B5683bF7d6EB93928Bd8116Eee00,2020-09-28 07:23:00
1902,Danny,1,0x836FE1A2277e1ACf808391e2Edc47C16EA3c1505,2020-09-28 07:55:00
386,Amber,1,0x60703BbcD823F052Ab9217f7353dAD15c9a0C5DF,2020-09-28 07:56:00
1769,Israel,1,0xce7C9C3bDd93D81A356B757f074b205D95C3d85F,2020-09-28 09:49:00
1775,Violet,1,0xE2FaA63f2351c6F2b88659f2fFfC2167172D329a,2020-09-28 20:06:00
1659,Hayes,1,0x00Bec19a4149eC55AB8582Ac7914b5a928A6e8F8,2020-09-28 20:08:00
1012,Brett,1,0x9A2b809461f7F90e55619b8068Df0AF8eAE5c456,2020-09-28 20:26:00
1583,Willow,1,0xE2FaA63f2351c6F2b88659f2fFfC2167172D329a,2020-09-28 20:28:00
1371,Randy,1,0xFaC7BEA255a6990f749363002136aF6556b31e04,2020-09-28 20:29:00
15,Olive,1,0xE2FaA63f2351c6F2b88659f2fFfC2167172D329a,2020-09-28 20:29:00
5,Rashad,1,0x6dc0cf660b64440C006529b788261786A6D49047,2020-09-28 20:29:00
1663,Blaze,1,0xB823dc506011EEdab6F8feECc88806dBFc55Ea93,2020-09-28 20:33:00
1250,Wayne,1,0xbD82D0A4DB4Af53F7a33fc6CF22b2CDD17cB457F,2020-09-28 20:46:00
211,Maximo,1,0xd3811cDb7901e176d1BE557ea17B75B0CE1260c3,2020-09-28 20:49:00
129,Mateo,1,0xAd11b98Cb4DA457be6aa324f0C4beC9f791fB3CE,2020-09-28 21:07:00
660,Grace,1,0xE2FaA63f2351c6F2b88659f2fFfC2167172D329a,2020-09-28 21:16:00
193,Daisy,1,0x7A498e3a3f42a07D38d235df58a47c21A200c2B9,2020-09-28 21:18:00
991,Bailey,1,0xdadf0F3F4391B1210a35268463D7914aB9eBD4c1,2020-09-28 21:27:00

# find names registered by the same registrant

In [57]:
df['registrant'].value_counts()

                                              613
0xbb46bE602D82F3209B6392130B5BBd40D78df339     93
0xDDd3964D75D59B6B6d5c31eB313BBA5EBF076364     69
0x56609a8e0601B9aFAbC90923bF20DF0523993cA6     58
0xFA894794fac19fFC7944ca8dd1E301662Be94196     41
                                             ...
0xC67A27E0CF079455dB41BA9e285249C735A14d02      1
0x13ea35Aa6ffA1D418153Fee57f550810483a035d      1
0x22AD0012040baF64f5af6d2D3F94d98A01137A9b      1
0xab1DC4B2EEEEcC9D98cA8cC5e96847a0b79Cd24c      1
0x8C05faE8145b7Ae60Ae81bCC2Ef44843645F9495      1
Name: registrant, Length: 459, dtype: int64

# Write CSV output

In [59]:
import datetime

In [66]:
df.sort_values("name", inplace=True)

In [69]:
filename = "results_" + str(datetime.datetime.now()).split('.')[0] + '.csv'
filename = filename.replace(':','-')

'results_2020-10-13 18-28-42.csv'

In [70]:
df.to_csv(filename)